.card{
  height: 100%!important;
  border: 0px;
}



.btn{
  font-size: 1.2em;
  margin: 0 auto;
  float: right;
}

.logo{

  text-align: center;
  img{
    width: 20%;
  }


}

