<!-- pagina para crear nuevo nivel -->
<div class="card header">
  <div class="card-body">
    <h3 class="card-title">Crear un nuevo nivel</h3>
  </div>
</div>

<div class="card content">
  <div class="card-body">
    <form [formGroup]="crearNivelForm" (ngSubmit)="crearNivel()"  >
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="nombre" placeholder="Nombre">
      </div>

      <button type="submit" class="btn">Crear nivel</button>
    </form>
  </div>
</div>
